/* MOBILE RESPONSIVE DESIGN */


@media(max-width:768px){



/* HEADER */


header{

flex-direction:row;

padding:15px 20px;

}




.logo-area h2{

font-size:20px;

}



.logo-area img{

width:50px;

height:50px;

}







/* MOBILE MENU */


.menu-icon{

display:block;

}



nav{

display:none;

position:absolute;

top:75px;

left:0;

width:100%;

background:white;

flex-direction:column;

padding:20px;

box-shadow:0 5px 10px rgba(0,0,0,0.1);

}



nav.active{

display:flex;

}



nav a{

padding:12px;

}








/* HERO */


.hero{

height:400px;

}



.hero-overlay h1{

font-size:30px;

}



.hero-overlay p{

font-size:16px;

}






/* BUTTONS */


button{

width:90%;

margin:5px;

}







/* PRODUCTS */


.product-grid{

grid-template-columns:1fr;

padding:20px;

}



.product-card img{

height:220px;

}







/* SERVICES */


.services-grid{

grid-template-columns:1fr;

padding:20px;

}







/* GALLERY */


.farm-gallery{

grid-template-columns:1fr;

padding:20px;

}







/* CONTACT */


.contact-main{

grid-template-columns:1fr;

padding:20px;

}



.contact-section{

padding:20px;

}






/* FOOTER */


.footer-container{

flex-direction:column;

text-align:center;

}



.social-icons{

justify-content:center;

}




}